<html>
<head>
  <title>test</title>
  <style>
    #data {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

      #terminal-data{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      #card-data {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
      }

      #card-data-right {
        flex:1;
      }
      .bold {
        font-weight:bold;
      }
  </style>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<h3>eID gateway</h3>
<div id="app">
  <div id="data" v-if="eid['terminal'] != undefined">
    <div id="terminal">
      <h2>Terminal</h2>
      <div id="terminal-data">
        <div>name:
          <span id="terminal-name">{{ eid.terminal.name}}</span>
        </div>
      </div>
    </div>

    <div id="card" v-if="eid.card.present">
      <h2>Card</h2>
      <div id="card-data">
        <div id="card-data-left">
          <img :src="eid.card.data.photo" alt="">
        </div>
        <div id="card-data-right">
          <div v-for="(value, key) in eid.card.data.identity">
            <span class="bold">{{ key }}</span>: <span> {{value}} </span>
          </div>
          <div v-for="(value, key) in eid.card.data.address">
            <span class="bold">{{ key }}</span>: <span> {{value}} </span>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      no card present
    </div>
  </div>
  <div v-else>
    Waiting for data
  </div>
</div>
<script>
    var es = new EventSource('/stream/eid');
    es.onmessage = function (e) {
        console.log(e.data);
        var data = JSON.parse(e.data);
        app.eid = data;
        //document.querySelector('#data').innerHTML = e.data;
    };


    var app = new Vue({
        el: '#app',
        data: {
            eid: {}
        }
    });

</script>
</body>
</html>


